---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TopBar from "../../components/TopBar.astro";
import { strings } from "../../strings";

export async function getStaticPaths() {
  const article = await getCollection("blogs");
  return article.map((blog) => ({
    params: { id: blog.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;
const { data, slug } = blog;
const { title, author, img, date, time, readtime, metaDescription, keywords } =
  data;
const { Content } = await render(blog);
---

<head role="contentinfo">
  <title>{`${title} - LearnWithMe`}</title>
  <meta name="description" content={metaDescription} />
  <meta name="keywords" content={keywords} />
  <link
    rel="canonical"
    href={`https://learn-with-me-beta.vercel.app/blog/${slug}`}
  />
</head>

<Layout title={`LearnWithMe - ${title}`}>
  <TopBar />
  <div class="flex flex-col items-center m-8">
    <div class="flex flex-col">
      <div class="flex flex-col">
        <img
          class="w-96 rounded-2xl mb-8 max-md:w-full"
          src={img}
          alt={title}
          transition:name={`img-${slug}`}
        />
        <h1
          class="text-2xl font-semibold bg-gradient-to-r from-green-400 to-green-700 bg-clip-text text-transparent mb-4"
        >
          {title}
        </h1>
        <div class="mb-8 opacity-60">
          <p>{strings.publishedDate}{date}</p>
          <p>{strings.publishedBy}{author}</p>
          <p>{strings.at}{time} hs</p>
          <p>{strings.readTime}{readtime}{strings.minutes}</p>
        </div>
      </div>
      <div class="prose mb-6">
        <Content />
      </div>
    </div>
  </div>
</Layout>
